{% extends 'all-temps/base.html' %} {% load static %} {% block content %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        margin-top: 10%;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="/shop/">&#x2190; Continue Shopping</a>
            <br>
            <table class="table">

                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">User</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td><strong>{{ order.product.name }}</strong></td>
                        <td><strong>{{ order.quantity }}</strong></td>
                        <td><strong>{{ order.user_id }}</strong></td>
                        <td><strong>{{ order.product.price }}</strong></td>
                        <td><strong>{{ order.get_total }}</strong></td>
                        <td><a href="url:delete_view" part.id><i class="fa fa-trash"></i></a>
                            <td>

                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <a style="float:right; margin:5px" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
</script>
{% endblock content %}