{%extends 'all-temps/base.html'%} {% block content %} {{block.super}}
<br> <br> <br> <br>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        margin-top: 5%;
    }
    
    .one{
        background-image: url("/static/image/homebg1.png") 50% 0 no-repeat fixed;
    }
</style>
<div class="container one">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title" style="color:#9C0646;">General Cakes</h5>
          <p class="card-text">Enjoy fruity, delicious, tastey cakes</p>
          <a href="#" class="btn btn-outline-danger" style="color: #9C0646;">Buy Now</a>
        </div>
      </div>
</div>
{% endblock %}