{%extends 'all-temps/base.html'%} {% block content %} {{block.super}}
<div class="contt home"
  style="background-image: url('https://media.istockphoto.com/photos/wedding-cake-picture-id155370628?k=20&m=155370628&s=612x612&w=0&h=KIg4IKc3C1YLgV7-d5VZYIK4nzSYongvYyHQSEKj4g0=');background-repeat: no-repeat;background-size: cover;width: 100%; min-height: 100vh;">
  <div class="container cont">
    <div class="uno">
      <div class="card-body" style="padding-top: 40%;">
        <h3 class="card-title" style="color:#9C0646;font-family: Playball;font-size: 400%;">General Cakes</h3>
        <p class="card-text" style="font-size: 200%;">Enjoy fruity, delicious, tastey cakes</p>
        <Buy href="#" class="btn btn-outline-danger" style="color: #9C0646; width: 10rem;height: 8vh; padding-top: 3%;">
          Buy Now</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}