

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.content{
  padding: 7rem 0;
}
.img-responsive{
  width: 100%;
  height: auto;
}
button{
  
}
.create-profile{
  padding: 2rem;
  border-radius: 20px; 
  border: 1.2px solid #9C0646;
  margin-top: 2rem;
}
h1 span{
  color: #9C0646;
  font-size: 37px;
  font-weight: 800;
  border-bottom: 3px solid #000;
}
h4 span{
  color: #9C0646;
  font-size: 27px;
  font-weight: 800;
  border-bottom: 3px solid #000;
}
.form-text{
  display: none !important;
}

.home h3{
  color: crimson;
}