<style>
    
    li {
        width: 100%;
    }
    .center{
        position: relative;
        left: 20%;
        display: flex;
    } 
    .left{
        display: flex;
        align-items: baseline;
        position: relative;
        left: 80%;
    }   
    .just{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    a {
        font-size: larger;
    }
    .center li{
        margin-left: 25%;
        font-weight: bolder;
        margin-top: 5%;
        height: 7vh;
    }
    .center li:hover{
        border-bottom: 4px solid #9C0646;
    }
    .left li{
        margin-left: 15%;
    }
    .left li:hover{
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5); 
    }
</style>


<nav class="navbar navbar-expand-lg navbar-light fixed-top navi" style="border-bottom : inset; position: fixed;width: 100%;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav text-black">
            <ul class="navbar-nav just me-auto mb-2 mb-lg-0">
                <li>
                    <a class="nav-link active" aria-current="page" href="/"><img src="/static/image/sc1logo-removebg-preview.png" alt=""></a>
                </li>
                <div class="center">
                    <li>
                        <a class="nav-link active" style="color: #9C0646;" aria-current="page" href="/">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" style="color: #9C0646;" href="/shop/">Shop</a>
                    </li>
                    <li>
                        <a class="nav-link " aria-current="page" style="color: #9C0646;" href="/">Pages</a>
                    </li>
                    <li>
                        <a class="nav-link" style="color: #9C0646;" href="https://www.youtube.com/channel/UCg1H4ynX55XErp-3Z-bDcFA">Videos</a>
                    </li>
                </div>
                <div class="left">
                    <li>
                        <a class="nav-link " aria-current="page" style="color: #9C0646;font-size: xx-large;" href="/"><i class="uil uil-search"></i></a>
                    </li>
                    <li>
                        <a class="nav-link " aria-current="page" style="color: #9C0646;font-size: xx-large;" href="/cart/"><i class="uil uil-shopping-cart"></i></a>
                    </li>
                    <li>
                        <a href="/accounts/login/" class="nav-link" style="color: #9C0646;font-size: xx-large;"><i class="uil uil-user-circle"></i></a>
                    </li>
                </div>
            </ul>
        </div>
    </div>

    <!-- Adding a search form  -->

    <!-- search form end -->
</nav>