<style>
  .sign {
    padding-right: 20%;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light  fixed-top navi"
  style=" background: linear-gradient(to top , #fff, #fc3197);border-bottom : inset #161516;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <div class="navbar-nav text-white">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" style="font-family: Open Sans Condensed, sans-serif;
          font-weight: 600;
          font-style: oblique;
          font-size: x-large;
          padding-left: 3rem;"><img src="/static/image/WhatsApp Image 2022-01-06 at 17.25.13.jpeg" width="5%"
              height="5%" style="border-radius: 5% 5% 5% 5%;" alt=""></span></a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Adding a search form  -->

  <!-- search form end -->
  <div class="sign">
    <p>Don't have an account?<a href="/accounts/register/" style="color: #D8E9A8;">REGISTER</a>&nbsp; ||&nbsp; <a
        href="/accounts/login/" style="color: #D8E9A8;">LOGIN</a></p>
  </div>

</nav>